@import './variables.scss';

/* Works on Firefox */
.scroll-custom {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.692) #f5f5f54b;
}

/* Works on Chrome, Edge, and Safari */
.scroll-custom::-webkit-scrollbar {
	width: 7px;
	background-color: #f5f5f54b;
}

.scroll-custom::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: transparent;
	background-image: -webkit-gradient(
		linear,
		40% 0%,
		75% 84%,
		from(rgba(0, 0, 0, 0.692)),
		to(rgba(0, 0, 0, 0.692)),
		color-stop(0.6, rgba(0, 0, 0, 0.692))
	);
}
